* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Circe Rounded";
}
body {
    width: 100vw;
    display: flex;
    flex-direction: column;
}
main {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

a {
    color: black;
    text-decoration: none;
}

h1 {
    font-weight: 800;
}

.fixed-container {
    max-width: 1200px;
    margin: 0 auto;
}


header {
    height: 160px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 38px 40px;
    font-weight: 400;
    max-width: 1400px;
    margin: 0 auto;
}

.header__logo img{
    width: 110px;
    margin-right: 40px;
}

.header__menu {
    display: flex;
    list-style-type: none;
    padding: 0 20px;
    word-wrap: unset;
    font-size: 16px;
}

.header__menu-point {
    padding: 20px 20px;
    box-sizing: border-box;
    border-bottom: 4px solid white;
}

.header__menu-point:hover {
    border-bottom: 4px solid #8901ee;
    transition: all 0.3s;
}

.header__contacts {
    display: flex;
    flex-wrap: nowrap;
}

.header__contacts img {
    box-sizing: content-box;
    width: 30px;
    height: 30px;
    padding: 0 5px;
}

.main {
    padding: 20px 40px;
}

.main__lets-get-started {
    font-size: 30px;
    font-weight: 200;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90vh;
    line-height: 40px;
    max-width: 1400px;
    margin: 0 auto;
}

.main__lets-get-started h1{
    margin-bottom: 40px;
    font-size: 60px;
}

.main__lets-get-started img {
    height: 70vh;
}

.how-we-learn h1 {
    font-size: 35px;
    color: #8901ee;
    margin-bottom: 60px;
}

.how-we-learn__point {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    max-width: 250px;
    text-align: center;
}

.how-we-learn__container {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

.how-we-learn__picture {
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
}

.how-we-learn__title {
    font-size: 20px;
    font-weight: 600;
    height: 40px;
}

.how-we-learn__text {
    font-size: 18px;
    font-weight: 200;
}
.how-we-learn__name-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 40px 0;
}
.how-we-learn__name-text {
    max-width: 50%;
    font-size: 25px;
    font-weight: 200;
    line-height: 40px;
}

.how-we-learn__name-img img {
    width: 30vw;
    max-width: 380px;
}

.how-we-learn__about-img img {
    width: 30vw;
}

.how-we-learn__about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 40px 0;
}

.how-we-learn__about-text {
    max-width: 50%;
    font-size: 25px;
    font-weight: 200;
    line-height: 40px;
}

.terms__header {
    display: flex;
    gap: 30px;
    margin-bottom: 80px;

}
.terms__header-title {
    font-size: 40px;
    font-weight: 400;
    color: #8901ee;
    line-height: 40px;
}
.terms__header-text {
    max-width: 70%;
    font-size: 25px;
    font-weight: 200;
    line-height: 40px;
}

.level-scale__title {
    font-size: 50px;
    font-weight: 800;
    color: #8901ee;
    margin-bottom: 50px;
}

.level-scale__img img{
    width: 100%;
    margin-bottom: 60px;
}

.level-scale__explain {
    display: flex;
    justify-content: space-between;
    
}
.level-scale__point {
    position: relative;
    padding-left: 70px;
    max-width: 30%;
}

.point__number {
    font-size: 24px;
    font-weight: bold;
    height: 50px;
    width: 50px;
    color: white;
    text-align: center;
    padding: 10px 0;
    border-radius: 100%;
    background-color: #ED1C25;
    position: absolute;
    left: 0px;
}

.point__title {
    font-size: 24px;
    color: #ED1C25;
    margin-bottom: 20px;
}

.point__text {
    font-size: 18px;
    font-weight: 200;
}

.price .fixed-container{
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}
.price__text {
    font-size: 50px;

}

.price__button {
    border: 0;
    height: 120px;
    min-width: 420px;
    background-color: #8901ee;
    border-radius: 60px;
    font-size: 50px;
    font-weight: bold;
    color: white;
    padding: 0 20px;
    cursor: pointer;

}

.price__button:hover {
    background-color: white;
    color: #8901ee;
    transition: all 0.3s;
}

.attention {
    margin: 0 auto;
    background-color: #EBEBEB;
    max-width: 800px;
    font-size: 20px;
    font-weight: 100;
    padding: 40px 30px 40px 100px;
    line-height: 40px;
    position: relative;
}
.attention__sign {
    position: absolute;
    background-image: url('../assets/attention.png');
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    left: 40px;
}

.rules__title {
    font-size: 40px;
    font-weight: bold;
    color: #8901ee;
    text-align: center;
    margin-bottom: 60px;
}

.rules__list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-evenly;
}

.rules__point {
    width: 22%;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;
}

.rules__img {
    width: 80px;
}

.rules__text {
    font-weight: 100;
    font-size: 16px;
}

.rules__text a {
    color: #8901ee;
    font-weight: 400;
}

.footer {
    padding: 40px 60px;
    background-color: #f7f7f8;
}

.footer__logo {
    height: 80px;
}

.footer__menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 60px;
}

.footer__list {
    display: flex;
    gap: 40px;
    font-size: 18px;
}

.footer__contacts {
    max-width: 320px;
    font-weight: 100;
    padding-right: 40px;
}

.footer__contacts a {
    color: #8901ee;
}

.footer__list a:hover {
    color: #8901ee;
    transition: all 0.3s;
}

.adress {
    font-weight: 100;
    max-height: 300px;
}

.adress__container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}
.adress__point {
    max-width: 300px;
}

.adress-contacts {
    display: flex;
}

.header__burger {
    position: fixed;
    top: 60px;
    right: 80px;
    height: 55px;
    z-index: 3;
    display: none;
}

.header__burger_mid {
    height: 10px;
    width: 60px;
    top: 22px;
    background-color: #8901ee;
    position: relative;
    transition: all 0.3s;
}

.header__burger_top {
    height: 10px;
    width: 60px;
    background-color: #8901ee;
    position: absolute;
    top: 0px;
    transition: all 0.3s;
    opacity: 1;
}
.header__burger_bot {
    height: 10px;
    width: 60px;
    background-color: #8901ee;
    position: absolute;
    bottom: 0;
    transition: all 0.3s;
    opacity: 1;
}

.burger-active .header__burger_top {
    transform: translate(0px,   22px) rotate(45deg) ;
    transition: all 0.3s;
}
.burger-active .header__burger_bot {
    transform: translate(0px,   -22px) rotate(-45deg) ;
    transition: all 0.3s;
}
.burger-active .header__burger_mid {
    opacity: 0;
    transition: all 0.3s;
}

.menu-active {
    left: 0;
}

.noscroll {
    overflow:hidden;
}